@import "../../../common/variable";
page {
  background-color: #fff;
}

textarea {
  width: 100%;
}

.up-img {
  @width: 210rpx;
  display: flex;
  flex-wrap: wrap;
  image {
    width: @width;
    height: @width;
    margin: 10rpx;
  }
  .up-btn {
    display: inline-block;
    margin: 10rpx;
    width: @width;
    height: @width;
    border: 2rpx dashed #bbb;
    position: relative;
    &:before {
      font-size: 100rpx;
      position: absolute;
      top: 50%;
      left: 50%;
      color: #bbb;
      transform: translate(-50%, -50%);
    }
  }

  .up-progress {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: @width;
    height: @width;
    .tac {
      padding: 2rpx 6rpx;
      border-radius: 20rpx;
      background-color: #eee;
    }
  }
}

.bottom-wrap {
  display: flex;
  align-items: center;
  .count {
    flex: 1;
    word-break: keep-all;
  }
}

.tips {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  .tips-item {
    margin: 10rpx;
    margin-left: 0;
    border: 2rpx solid #999;
    padding: 4rpx 10rpx;
    transition: all .5s;
  }
  .active {
    background-color: @mainColor;
    color: #fff;
    border-color: @mainColor;
  }
}

.release-btn {
  position: fixed;
  bottom: 30rpx;
  left: 50%;
  width: 80%;
  text-align: center;
  height: 88rpx;
  line-height: 88rpx;
  background-color: #ff3b5b;
  transform: translateX(-50%);
  border-radius: 80rpx;
  box-shadow: 0rpx 6rpx 10rpx 4rpx rgba(238, 200, 211, 0.7);
}