.f54 {
  font-size: 54rpx;
}

.get-btn {
  display: inline-block;
  text-align: center;
  width: 120rpx;
  line-height: 54rpx;
  border-radius: 27rpx;
  border: 2rpx solid #ff3b5b;
  box-sizing: border-box;
}

.df {
  display: flex;
  align-items: center;
  justify-content: space-between;
}