.top-info {
  display: flex;
  align-items: center;
  padding: 30rpx 20rpx;
  padding-bottom: 90rpx;
  image {
    width: 60rpx;
    height: 60rpx;
    margin-right: 21rpx;
  }
}

.room-info {
  margin-top: -60rpx;
  min-height: 192rpx;
  .r-i-bg {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}